---
import Layout from "../layouts/Base.astro";
import Link from "../components/Link.astro";
---

<Layout
  title="Home"
  description="Lorem ipsum dolor sit amet"
  image="/blog-placeholder-about.jpg"
>
  <h1 class="title">About</h1>
  <div class="mx-auto flex max-w-fit flex-col items-center gap-5 sm:flex-row">
    <div class="m-auto min-w-fit">
      <img
        src="/profile.jpeg"
        alt="kazizi"
        class="h-24 w-24 rounded-full md:h-32 md:w-32"
      />
    </div>
    <p class="flex-auto xl:text-lg">
      Kazizi is a software engineer with a passion for building web
      applications.<br />
      Currently I work as a frontend web developer in <Link
        href="https://corp.moneyforward.com/en/"
        title="Money Forward, Inc."
        data-astro-prefetch
        target="_blank"
        rel="noopener noreferrer">Money Forward, Inc.</Link
      > that is a financial IT company in Japan.
    </p>
  </div>
  <h1 class="title mt-4">Job History</h1>
  <Link
    href="https://github.com/kazizi55/resume/blob/main/README.md"
    title="resume"
    data-astro-prefetch
    target="_blank"
    rel="noopener noreferrer">Resume</Link
  >
</Layout>
